[submodule "ChatterBot"]
	path = ChatterBot
	url = git@github.com:totalgood/ChatterBot.git
[submodule "errbot"]
	path = errbot
	url = git@github.com:totalgood/errbot.git
[submodule "will"]
	path = will
	url = git@github.com:totalgood/will.git
[submodule "textadventuredemo"]
	path = textadventuredemo
	url = git@github.com:totalgood/textadventuredemo.git
